@use '../variables.module' as var;

.theme-gold {
  background-image: radial-gradient(circle at bottom left , var.$theme-gold-lightest, var.$theme-gold-dark);

  h1 {
    background: linear-gradient(to left, var.$theme-gold-light, var.$theme-gold-dark);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .navigator-icon.active {
    background-color: var.$theme-gold-medium;
  }
  
  .j-card {
    border-color: var.$theme-gold-light !important;

    .j-card-container {
      background-color: rgba(var.$theme-gold-lightest, var.$theme-j-card-background-opacity);
      color: var.$theme-gold-dark;
    }
  }
}
