@use '../variables.module' as var;

.theme-orange {
  background-image: radial-gradient(circle at bottom left , var.$theme-green-lightest, var.$theme-green-dark);

  h1 {
    background: linear-gradient(to left, var.$theme-green-light, var.$theme-green-dark);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .j-card {
    border-color: var.$theme-green-light !important;

    .j-card-content {
      background-color: rgba(var.$theme-green-lightest, var.$theme-j-card-background-opacity);
      color: var.$theme-green-dark;
    }
  }
}